<div class="row">
<div class="col">
{{home}}
</div>
<div class="col">
{{#link-to "borrow-book" class="btn btn-primary btn-lg"}}
    Borrow Book
  {{/link-to}}
</div>
</div>
<br>
<div class="table-responsive">
<table class="table align-middle" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Book</th>
      <th scope="col">Borrowed User</th>
      <th scope="col">Status</th>
      <th scope="col">Borrowed Date</th>
      <th scope="col">Return Date</th>
    </tr>
  </thead>
  {{#each this.borrowers as |borrower|}}
  <tbody>
    <tr>
      <td>{{borrower.id}}</td>
      <td><div class="accordion" id="accordionExample_{{borrower_id}}">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading_{{borrower.id}}">
              <div class="text-center">
                <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne_{{borrower.id}}" aria-expanded="false" aria-controls="collapseOne_{{borrower.id}}">
                  {{borrower.book.title}}
                </button>
              </div>
              </h2>
              <div id="collapseOne_{{borrower.id}}" class="accordion-collapse collapse" aria-labelledby="heading_{{borrower.id}}">
                <div class="accordion-body">
                 Author Name: {{borrower.book.author.name}}
                 <br>
                 About Author: {{borrower.book.author.description}}
                </div>
              </div>
            </div>
      </div></td>
      <td><div class="accordion" id="accordionExample_{{borrower.user.id}}">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading_{{borrower.user.id}}">
              <div class="text-center">
                <button type="button" class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne_{{borrower.user.id}}" aria-expanded="false" aria-controls="collapseOne_{{borrower.id}}">
                  {{borrower.user.name}}
                </button>
              </div>
              </h2>
              <div id="collapseOne_{{borrower.user.id}}" class="accordion-collapse collapse" aria-labelledby="heading_{{borrower.user.id}}">
                <div class="accordion-body">
                 User Details:
                 <br>
                 Email: {{borrower.user.email}}
                 <br>
                 Phone: {{borrower.user.phone}}
                </div>
              </div>
            </div>
      </div></td>
      <td>{{borrower.status}}</td>
      <td>{{borrower.formatedBorrowedDate}}</td>
      <td>{{borrower.formatedReturnDate}}</td>
      {{#if (eq this.role "Admin")}}
      {{log this}}
      {{#if (eq borrower.status "Pending")}}
        <td><button type="submit" {{action "onReturnBook" borrower.id }} class="btn btn-primary">Return Book</button></td>
      {{/if}}
      {{/if}}
    </tr>
  </tbody>
  {{/each}}
</table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
  {{#if (gt this.previous 0)}}
    <li class="page-item"><a class="page-link" href="#" {{action "onPagination" this.previous preventDefault=false}} >{{this.previous}}</a></li>
  {{/if}}
    <li class="page-item"><a class="page-link" href="#" {{action "onPagination" this.page preventDefault=false}}>{{this.page}}</a></li>
    {{#if (eq this.shownext 1)}}
    <li class="page-item"><a class="page-link" href="#" {{action "onPagination" this.next preventDefault=false}}>{{this.next}}</a></li>
    {{/if}}
  </ul>
</nav>





