
<form>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <Input class="form-control" @id="name" @value={{this.name}} @change={{action "onChangeInput"}} />
  </div>
  <div class="mb-3">
    <label for="email"  class="form-label">Email</label>
   <Input class="form-control" @id="email" @value={{this.email}} @change={{action "onChangeInput"}} />
  </div>
   <div class="mb-3">
    <label for="phone"  class="form-label">Phone</label>
   <Input class="form-control" @id="phone" @value={{this.phone}} @change={{action "onChangeInput"}} />
  </div>
  <button type="submit" {{action "onSubmitForm" preventDefault=true }} class="btn btn-primary">Submit</button>
</form>