<form>
  <div class="mb-3">
    <label for="newType" class="form-label">Select User</label>
    <select name="newType" class="form-select" onchange={{action "updateUserDetails" value="target.value" }}>
            <option value="" selected  hidden >Select </option>
            {{#each this.user_options as |use|}}
                <option value="{{use.key}}" >{{use.value}}</option>
            {{/each}}
 </select>
  </div>
  <div class="mb-3">
    <label for="newType" class="form-label">Select Book</label>
    <select name="newType" class="form-select" onchange={{action "updateBookDetails" value="target.value" }}>
            <option value="" selected  hidden >Select </option>
            {{#each this.book_options as |book|}}
                <option value="{{book.key}}" >{{book.value}}</option>
            {{/each}}
 </select>
  </div>
  <button type="submit" {{action "onSubmitForm" preventDefault=true }} class="btn btn-primary">Submit</button>
</form>