<div class="row">
<div class="col">
{{home}}
</div>
{{#if (eq this.role "Admin")}}
{{log this}}
<div class="col">
{{#link-to "add-book" class="btn btn-primary btn-lg"}}
    Add Book
  {{/link-to}}
</div>
{{/if}}
</div>
<br>
<table class="table align-middle" class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  {{#each this.books as |book|}}
  <tbody>
    <tr>
      <td>{{book.title}}</td>
      <td>{{book.description}}</td>
      <td>{{book.author.name}}</td>
      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_{{book.id}}">
              Edit
        </button>
        <div class="modal fade" id="exampleModal_{{book.id}}" tabindex="-1" aria-labelledby="exampleModalLabel_{{book.id}}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel_{{book.id}}">Edit Book</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form>
            <div class="mb-3">
               <label for="title_{{book.id}}" class="form-label">Title</label>
               <Input class="form-control" @name="title" @id="title_{{book.id}}" @value={{book.title}} @change={{action "onChangeInput"}}/>
            </div>
            <div class="mb-3">
               <label for="description_{{book.id}}" class="form-label">Description</label>
               <Input class="form-control" @name="description" @id="description_{{book.id}}" @value={{book.description}} @change={{action "onChangeInput"}}/>
            </div>
            <button type="submit" class="btn btn-primary" {{action "onSubmitForm" book.id preventDefault=true }}>Save changes</button>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" {{action "onCloseForm" preventDefault=true }} data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      </td>
      <td>
        <button type="button" class="btn btn-primary" {{action "onDeleteFunction" book.id preventDefault=true }}>
              Delete
        </button>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
  {{#if (gt this.previous 0)}}
    <li class="page-item"><a class="page-link" href="#" {{action "onPagination" this.previous preventDefault=false}} >{{this.previous}}</a></li>
  {{/if}}
    <li class="page-item"><a class="page-link" href="#" {{action "onPagination" this.page preventDefault=false}}>{{this.page}}</a></li>
  {{#if (eq this.shownext 1)}}
    <li class="page-item"><a class="page-link" href="#" {{action "onPagination" this.next preventDefault=false}}>{{this.next}}</a></li>
  {{/if}}
  </ul>
</nav>